
<!-- <div class="color"> -->

<button mat-flat-button color="primary" (click)="actionwishList()">Wishlisted</button>

<button mat-flat-button color="primary" (click)="actioncartitem()">Add to Cart</button>

<button mat-flat-button color="primary" (click)="actionremoved()">Item removed</button>

<button mat-flat-button color="primary" (click)="actionclearWish()">Wishlist Cleared</button>

<button mat-flat-button color="primary" (click)="actionincreasecartItem()">One Item increased</button>

<button mat-flat-button color="primary" (click)="actiondecCartItem()">One Item decreased</button>

<button mat-flat-button color="primary" (click)="actioncartItemdelete()">Product removed</button>

<button mat-flat-button color="primary" (click)="actionclearCart()">Clear Cart</button>

<button mat-flat-button color="primary" (click)="actionplaceOrder()">Place Order</button>


<!-- </div> -->